# 3.allow user to select reference corpus

#Feature3

In [317]:
dataset1 = "Brown corpus"
dataset2 = "Enron corpus"
while 1:
    selected_dataset = input(f'Select Courpus you want to use: \n 1: {dataset1} 2: {dataset2}\n')
    selected_dataset = int(selected_dataset)
    if(selected_dataset == 1 or selected_dataset ==2):
        exec_command = "print(f'SUCCESS: You chose: " + str(selected_dataset) + " " + "{dataset" + str(selected_dataset) + "}')"
        exec(exec_command)
        break
    print('Please input decimal number\n')
    try:
        selected_dataset = int(selected_dataset)
    except:
        print('Please input decimal number\n')

SUCCESS: You chose: 2 Enron corpus

## Remove NaN and Change Enron Documents into one Document

In [318]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
def rmNan(df):
    #remove nan
    for i, msg in enumerate(df['body']):
        # print(i, msg)
        if msg is np.nan:
            df = df.drop(i)
    for i, msg in enumerate(df['body']):
        if msg is np.nan:
            print(i, msg) 

    #merge documents into one
    str_all_document=''
    for index, record in df.iterrows():
        str_all_document = str_all_document + str(record[1])
    del df
    
    return pd.DataFrame({"author":["ENRON DATASET"],
                        "body": [str_all_document]})

## Make DataFrame, Q, K1, K2, and Enron or Brown Datasets

In [319]:
import pandas as pd
import numpy as np

def makeDataset(datasetnum = 0):
    if(datasetnum == 2):
        df = pd.read_csv("preprocessed_enron.csv")
        df = rmNan(df)
    elif(datasetnum== 1):
        f = open('Brown_ca_ca01.txt', 'r')
        data = f.read()
        f.close()
        df = pd.DataFrame({"author":["BROWN DATASET"],
                          "body": [data]})
    return df.reset_index(drop=True)

In [320]:
#Make df_Q dataset 
f = open('Q_dataset.txt', 'r')
data = f.read()
f.close()
df_Q = pd.DataFrame({"author":["Q DATASET"],
                    "body": [data]})

In [321]:
#Make df_K1 dataset 
f = open('K1_dataset.txt', 'r')
data = f.read()
f.close()
df_K1 = pd.DataFrame({"author":["K1 DATASET"],
                    "body": [data]})

In [322]:
#Make df_K2 dataset 
f = open('K2_dataset.txt', 'r')
data = f.read()
f.close()
df_K2 = pd.DataFrame({"author":["K2 DATASET"],
                    "body": [data]})

In [323]:
#Make df_ref dataset 
df_ref = makeDataset(selected_dataset)

In [324]:
df = pd.concat([df_Q,df_K1, df_K2, df_ref])
df = df.reset_index(drop=True)
del df_Q, df_K1,df_K2,df_ref

In [325]:
df

          author                                               body
0      Q DATASET  \n\nHowever, there are frequent situations whe...
1     K1 DATASET  Download\n\nSource\n\nPDF\nActions\n   Copy Pr...
2     K2 DATASET  \n\nWith the rapid growth of the information c...
3  ENRON DATASET  Please view the summary tab on each worksheet ...

# 1. count, list and order the frequency of words 

#Feature1

In [326]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
def tokenizeFunc(documents):
    # documents = df['body'].tolist()
    tf_vectorizer = CountVectorizer()
    tf_vectors = tf_vectorizer.fit_transform(documents)         # word frequency list
    return tf_vectors, tf_vectorizer
# for i, msg in enumerate(df['body']):
#     # print(i, msg)
#     if msg is np.nan:
#         print(i, msg)
#tfidf_vectorizer = TfidfVectorizer()
#tfidf_vectors = tfidf_vectorizer.fit_transform(documents) # keyword frequency list
# tf_vectorizer = CountVectorizer()
# tf_vectors = tf_vectorizer.fit_transform(documents)         # word frequency list
# del tf_vectorizer
# del tfidf_vectorizer# データ分割r

### Make All datasets a list and make tf vector and tf vectrizer

In [327]:
documents=[
    df['body'][0], #df_Q['body'][0],
    df['body'][1], #df_K1['body'][0],
    df['body'][2], #df_K2['body'][0],
    df['body'][3], #df_ref['body'][0],]
]
tf_vectors, tf_vectorizer = tokenizeFunc(documents)

In [328]:
#[remove]Dataframeや単語リストが一つのDFで十分な場合削除　7/25日米田

# tf_vectors_Q, tf_vectorizer_Q = tokenizeFunc(df_Q)
# tf_vectors_K1, tf_vectorizer_K1 = tokenizeFunc(df_K1)
# tf_vectors_K2, tf_vectorizer_K2 = tokenizeFunc(df_K2)
# tf_vectors_ref, tf_vectorizer_ref = tokenizeFunc(df_ref)

# words_Q=tf_vectorizer_Q.get_feature_names_out()
# words_K1=tf_vectorizer_K1.get_feature_names_out()
# words_K2=tf_vectorizer_K2.get_feature_names_out()
# words_K3=tf_vectorizer_ref.get_feature_names_out()

## Make a words dictionary in all documents

In [329]:
# 作成された辞書を作る　:トレインデータ・テストデータ両方に対応
words=tf_vectorizer.get_feature_names_out()

## Make the Words frequency matrix

### This Matrix's row indices ared corresponding with a document in the

In [330]:
#First row: dataset Q
#Second row: dataset K1
#Third row: dataset k2
#Fourth row: dataset ref
df

          author                                               body
0      Q DATASET  \n\nHowever, there are frequent situations whe...
1     K1 DATASET  Download\n\nSource\n\nPDF\nActions\n   Copy Pr...
2     K2 DATASET  \n\nWith the rapid growth of the information c...
3  ENRON DATASET  Please view the summary tab on each worksheet ...

### This Matrix's col indices are corresponding with a word in the above document

In [331]:
words

array(['00', '000', '000f749c00763c4c3b9aca0044810ab2', ..., 'zoning',
       'µm', 'μm'], dtype=object)

## Insert Words Frequemcy Vector into 'tf' Column in DF for Each Dataset

In [332]:
tf_mat = tf_vectors.toarray()
del tf_vectors
df['tf'] = tf_mat.tolist()

In [333]:
df

,author,body,tf
0,Q DATASET,"\n\nHowever, there are frequent situations whe...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,K1 DATASET,Download\n\nSource\n\nPDF\nActions\n Copy Pr...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,K2 DATASET,\n\nWith the rapid growth of the information c...,"[0, 2, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, ..."
3,ENRON DATASET,Please view the summary tab on each worksheet ...,"[199, 73, 1, 2, 1, 0, 4, 1, 3, 280, 8, 3, 3, 1..."

In [334]:
#[remove]ここの記述で必要な部分は上記に記述。そのた不要であれば削除

#tfidf_mat = tfidf_vectors.toarray() # dead every time
#del tfidf_vectors
# tf_mat = tf_vectors.toarray()
# del tf_vectors
# df['tf'] = tf_mat.tolist()
#df['tfidf'] = tfidf_mat.tolist()

In [335]:
#[remove]今回はからのデータセットがそんざいしないため。確認後削除

# 0 ベクトルを消去 Normalization のため
# for i, vec in enumerate(df['tf']):
#     if sum(vec) == 0:
#         df = df.drop(i)

# df = df.reset_index(drop=True)

# 5. display the first 20 words of each dataset 

#Feature5

In [336]:
def dispAndMakeWordFreq(df, words, author = 0):
    data = df.loc[author]
    freq = data['tf']
    wf = pd.DataFrame({'words': words, 'frequency': freq})
    wordli = []
    freqli =[]
    for key, data in wf.iterrows():
        if(int(data[1]) != 0):
            wordli.append(data[0])
            freqli.append(data[1])
        
    return pd.DataFrame({'words': wordli, 'frequency': freqli})

## Words Frequency of Dataset Q

In [337]:
wf_list_Q = dispAndMakeWordFreq(df,words, author = 0)

wf_list_Q = wf_list_Q.sort_values('frequency', ascending=False)
wf_list_Q = wf_list_Q.reset_index(drop=True)
wf_list_Q.head(20)

       words  frequency
0        the        186
1         of         89
2        and         74
3         to         70
4        for         55
5         in         54
6         be         45
7         or         40
8   planning         33
9         is         31
10       are         31
11        as         28
12      time         28
13  location         27
14      user         26
15     based         20
16      that         20
17    system         19
18      such         18
19    figure         18

## Words Frequency of Dataset K1

In [338]:
wf_list_K1 = dispAndMakeWordFreq(df,words, author = 1)
wf_list_K1 = wf_list_K1.sort_values('frequency', ascending=False)
wf_list_K1 = wf_list_K1.reset_index(drop=True)
wf_list_K1.head(20)

          words  frequency
0           the         78
1            of         66
2           and         50
3            in         42
4            to         39
5            as         32
6         music         25
7           for         17
8            is         17
9            be         16
10           on         15
11  tchaikovsky         13
12           by         13
13         that         12
14          can         12
15          not         11
16      between         11
17         such         11
18   similarity         11
19       models         10

## Words Frequency of Dataset K2

In [339]:
wf_list_K2 = dispAndMakeWordFreq(df,words, author = 2)

wf_list_K2 = wf_list_K2.sort_values('frequency', ascending=False)
wf_list_K2 = wf_list_K2.reset_index(drop=True)
wf_list_K2.head(20)

          words  frequency
0           the        383
1            of        161
2            to        128
3           and        121
4            in        119
5            is         91
6          high         76
7            eo         56
8          with         56
9           for         55
10  temperature         53
11           at         50
12         gbit         46
13    modulator         45
14       device         38
15          are         37
16          sph         36
17           as         36
18      polymer         31
19           up         29

## Words Frequency of Dataset ref

In [340]:
wf_list_ref = dispAndMakeWordFreq(df,words, author = 3)
wf_list_ref = wf_list_ref.sort_values('frequency', ascending=False)
wf_list_ref = wf_list_ref.reset_index(drop=True)
wf_list_ref.head(20)

            words  frequency
0             the       7050
1              to       5262
2          folder       4149
3   synchronizing       4024
4             and       3127
5           enron       2866
6              of       2685
7             ect       2454
8              in       2132
9             you       2097
10             is       1930
11             we       1781
12            for       1702
13           that       1690
14             on       1663
15             20       1581
16           this       1516
17           have       1226
18            hou       1205
19           with       1175

## count, list and order the frequency of keywords
#Feature2

## Normalization of Word Frequencies to All Datasets and Add them into DF

In [341]:
# we generaly name 'ntf' for normalized term frequency
normalized_tf_list = []
for row in df['tf']:
    num_words = sum(row)
    normalized_tf = []
    for x in row:
        normalized_tf.append(x/num_words)
    normalized_tf_list.append(normalized_tf)

df['ntf'] = normalized_tf_list

#Tf-idf の代わりに利用する keyness を作る

ここでは　df['keyness'] を作成し追加したい

In [342]:
import math
# we generaly name 'ntf' for normalized term frequency
# First, create the shared normalized tf vector
# shared_ntf = None # shared ntf of all document
# matrix = []
# for row in df['ntf']:
#     matrix.append(row)
# np_matrix = np.array(matrix)
# mean_vector = np_matrix.mean(axis=0)
# shared_ntf = mean_vector.tolist()

def keyness(ntf_vector1, ref_ntf_vector2): # freq_vector1 and freq_vector2 are both already normalized
    keyness_vec = []
    for i, x in enumerate(ntf_vector1):
        if ntf_vector1[i] == 0 or ref_ntf_vector2[i] == 0:
            keyness_vec.append(0)
        else:
            keyness_vec.append(math.log2(ntf_vector1[i]/ref_ntf_vector2[i]))

    return keyness_vec


keyness_mat = []
for ntf_vector in df['ntf']:
    ntf_ref = df['ntf'][3]
    keyness_vec = keyness(ntf_vector, ntf_ref)
    keyness_mat.append(keyness_vec)

# keyness を　Dataframe に追加
df['keyness'] = keyness_mat

In [343]:
df

,author,body,tf,ntf,keyness
0,Q DATASET,"\n\nHowever, there are frequent situations whe...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
1,K1 DATASET,Download\n\nSource\n\nPDF\nActions\n Copy Pr...,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
2,K2 DATASET,\n\nWith the rapid growth of the information c...,"[0, 2, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, ...","[0.0, 0.0004100041000410004, 0.0, 0.0, 0.0, 0....","[0, 0.08323982788213213, 0, 0, 0, 0, 0, 0, 0, ..."
3,ENRON DATASET,Please view the summary tab on each worksheet ...,"[199, 73, 1, 2, 1, 0, 4, 1, 3, 280, 8, 3, 3, 1...","[0.0010550200930962454, 0.00038701742108555734...","[0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0.0, 0.0, 0...."

# Display the first 20 keywords of each dataset

In [344]:
def dispAndMakeKeyWordList(df, words, author = 0):
    data = df.loc[author]
    keyness = data['keyness']
    wf = pd.DataFrame({'words': words, 'keyness': keyness})
    wordli = []
    freqli =[]
    for key, data in wf.iterrows():
        if(int(data[1]) != 0):
            wordli.append(data[0])
            freqli.append(data[1])
        
    return pd.DataFrame({'words': wordli, 'keyness': freqli})

## Keyword of Dataset Q

In [345]:
keyword_list_Q = dispAndMakeKeyWordList(df,words, author = 0)

keyword_list_Q = keyword_list_Q.sort_values('keyness',ascending=False)
keyword_list_Q = keyword_list_Q.reset_index(drop=True)
keyword_list_Q.head(20)

           words   keyness
0      solutions  8.625782
1          cloud  8.362747
2   notification  8.362747
3          smart  8.040819
4     configured  8.040819
5         domain  8.040819
6     situations  8.040819
7        advance  7.848174
8     conditions  7.625782
9    implemented  7.625782
10         stage  7.625782
11     proactive  7.625782
12     connected  7.625782
13         frame  7.362747
14   conferences  7.040819
15        linked  7.040819
16       briefly  7.040819
17     component  7.040819
18      overcome  7.040819
19   combination  7.040819

## Keyword of Dataset K1

In [346]:
keyword_list_K1 = dispAndMakeKeyWordList(df,words, author = 1)

keyword_list_K1 = keyword_list_K1.sort_values('keyness',ascending=False)
keyword_list_K1 = keyword_list_K1.reset_index(drop=True)
keyword_list_K1.head(20)

             words   keyness
0           models  9.259289
1             cope  8.937361
2           mostly  8.522323
3         children  8.107286
4    relationships  7.937361
5       succession  7.937361
6          machine  7.937361
7              art  7.937361
8         insights  7.522323
9       considered  7.522323
10  representation  7.259289
11          figure  6.937361
12        download  6.937361
13          desire  6.937361
14       connected  6.937361
15        designed  6.937361
16     preparation  6.937361
17        standing  6.937361
18         enhance  6.937361
19           image  6.937361

## Keyword of Dataset K2

In [347]:
keyword_list_K2 = dispAndMakeKeyWordList(df,words, author = 2)

keyword_list_K2 = keyword_list_K2.sort_values('keyness',ascending=False)
keyword_list_K2 = keyword_list_K2.reset_index(drop=True)
keyword_list_K2.head(20)

            words    keyness
0     temperature  11.000985
1          device   9.520992
2        observed   8.594992
3        measured   8.273064
4      efficiency   8.179955
5             ber   8.080419
6           strip   8.080419
7         signals   8.080419
8              db   7.732496
9        reliable   7.594992
10     electrical   7.594992
11         driver   7.594992
12        voltage   7.388542
13      stability   7.273064
14            gsa   7.273064
15           burn   7.080419
16         factor   7.080419
17        driving   6.858027
18  extraordinary   6.858027
19           onto   6.858027

# 7. display the shared words in the first 20 words of each dataset
#Feature7

In [348]:
def dispAndMakeSharedWordsFreq(df,df_ref):
    df = df[df['words'].isin(df_ref['words'])] #filtering with the words in df2
    df_ref = df_ref[df_ref['words'].isin(df['words'])] #filtering with the words in df
    #now the words in df and df2 are same
    #sort words in the alphabetical order to become the same words as the same rows
    df = df.sort_values('words')
    df_ref = df_ref.sort_values('words')
    #merge df2 frequency to df1 
    df['ref_frequency'] = list(df_ref['frequency'])
    df['shared_word_keyword_frequency'] = (df['frequency'] + df['ref_frequency'])
    return df

## Shared Words Frequency in Dataset Q and K1

In [349]:
#SWF = Shared Word Frequency
SWF_QandK1 = dispAndMakeSharedWordsFreq(wf_list_Q,wf_list_K1)
SWF_QandK1.sort_values('frequency', ascending=False).head(20)

     words  frequency  ref_frequency  shared_word_keyword_frequency
0      the        186             78                            264
1       of         89             66                            155
2      and         74             50                            124
3       to         70             39                            109
4      for         55             17                             72
5       in         54             42                             96
6       be         45             16                             61
7       or         40              5                             45
9       is         31             17                             48
10     are         31              4                             35
11      as         28             32                             60
12    time         28              1                             29
15   based         20              6                             26
16    that         20             12                             32
17  system         19              3                             22
21      by         18             13                             31
18    such         18             11                             29
20      on         18             15                             33
19  figure         18              9                             27
25    with         17              9                             26

## Shared Words Frequency in Dataset Q and K2

In [350]:
#SWF = Shared Word Frequency
SWF_QandK2 = dispAndMakeSharedWordsFreq(wf_list_Q,wf_list_K2)
SWF_QandK2.sort_values('frequency', ascending=False).head(20)

     words  frequency  ref_frequency  shared_word_keyword_frequency
0      the        186            383                            569
1       of         89            161                            250
2      and         74            121                            195
3       to         70            128                            198
4      for         55             55                            110
5       in         54            119                            173
6       be         45             19                             64
7       or         40             10                             50
9       is         31             91                            122
10     are         31             37                             68
12    time         28              1                             29
11      as         28             36                             64
15   based         20              3                             23
16    that         20              7                             27
17  system         19              3                             22
19  figure         18              5                             23
21      by         18             26                             44
18    such         18             16                             34
20      on         18             26                             44
24      it         17             10                             27

## Display the shared keywords in the first 20 keywords of each dataset

In [351]:
def dispAndMakeSharedKeyword(df,df_ref):
    df = df[df['words'].isin(df_ref['words'])] #filtering with the words in df2
    df_ref = df_ref[df_ref['words'].isin(df['words'])] #filtering with the words in df
    #now the words in df and df2 are same
    #sort words in the alphabetical order to become the same words as the same rows
    df = df.sort_values('words')
    df_ref = df_ref.sort_values('words')
    #merge df2 frequency to df1 
    df['combinedkeyness'] = list(df_ref['keyness'])
    
    return df

In [352]:
SK_QandK1 = dispAndMakeSharedKeyword(keyword_list_Q,keyword_list_K1)
SK_QandK1 = df_SK_QandK1.sort_values('keyness', ascending=False).head(20)
SK_QandK1.head(50)

             words   keyness  combinedkeyness
0        solutions  8.625782         6.937361
12       connected  7.625782         6.937361
13           frame  7.362747         5.937361
18        overcome  7.040819         6.937361
23          figure  7.040819         6.937361
31      considered  6.625782         7.522323
37         context  6.362747         4.937361
50         machine  6.040819         7.937361
48          models  6.040819         9.259289
53       influence  6.040819         6.937361
83           scope  5.455857         6.937361
84         example  5.455857         4.030470
117          audio  5.040819         5.937361
116       commonly  5.040819         5.937361
114  automatically  5.040819         5.937361
113  relationships  5.040819         7.937361
99        supports  5.040819         5.937361
98         towards  5.040819         4.937361
118          human  4.903315         5.062892
123          kinds  4.718891         4.615433

In [359]:
SK_QandK2 = dispAndMakeSharedKeyword(keyword_list_Q,keyword_list_K2)
SK_QandK2 = df_SK_QandK2.sort_values('keyness', ascending=False).head(20)
SK_QandK2.head(50)

1             cloud
4        configured
10            stage
23           figure
18         overcome
19      combination
34           device
32       parameters
66         activity
61     architecture
49        dependent
62          typical
67       addressing
75        locations
84          example
85       activities
111           shows
97     environments
95      integration
127         digital
Name: words, dtype: object

# Prediction

In [354]:
# start からend までのwordの配列を返す
def extract_features_words(freq_vector, words, start=0, end=20):

    setX = set(freq_vector) # 最大値を取り出すため set を作成
    count = 0
    result = []
    while count<end:
        max_value = max(setX)
        max_index = freq_vector.index(max_value)
        max_word = words[max_index]
        setX.remove(max_value)
        ### if exclude stopwords
        # if max_word not in stop_words:
        #     if count>= start:
        #         result.append(max_index)
        #     count+=1
        if count>= start:
            result.append(max_word)
        count += 1
    return result

In [355]:
result = extract_features_words(df['keyness'][0], words, 0, 20)

In [356]:
result

['solutions',
 'cloud',
 'configured',
 'advance',
 'conditions',
 'frame',
 'briefly',
 'planning',
 'user',
 'deferred',
 'scenarios',
 'considered',
 'ref',
 'reminder',
 'context',
 'naturally',
 'activity',
 'location',
 'concept',
 'locations']

In [357]:
# start からend までのword IDの配列を返す
def extract_features(freq_vector, words, start=0, end=20):
    setX = set(freq_vector) # 最大値を取り出すため set を作成
    count = 0
    result = []
    while count<end:
        try:
            max_value = max(setX)
        except ValueError:
            return result

        max_index = freq_vector.index(max_value)
        max_word = words[max_index]

        setX.remove(max_value)

        ### if exclude stopwords
        # if max_word not in stop_words:
        #     if count>= start:
        #         result.append(max_index)
        #     count+=1

        if count>= start:
            result.append(max_word)
        count += 1
    return result

In [360]:
#Test input
result = extract_features(list(SK_QandK1['words']), words, 0, 20)

In [361]:
result

['02',
 '01c0d27c',
 '00',
 '010129',
 '018',
 '000mmbtu',
 '00pm',
 '00cst',
 '023',
 '01',
 '0203',
 '000f749c00763c4c3b9aca0044810ab2',
 '005',
 '010206',
 '00am',
 '0072',
 '000',
 '010k',
 '015',
 '010605']

In [308]:
# vec = reference_vectors['j..kean@enron.com']
# top_words = extract_features_words(vec, words=words,  start=0, end=150)
# print(top_words)

In [309]:
def get_similarity(feature_vector1,feature_vector2):
    return len(set(feature_vector1) & set(feature_vector2))

In [310]:
INF = float('inf')
def predict(questioned_vector,reference_vectors):
    start = 0
    end = 20
    suspected = [author for author in authors]
    innocent_list = []
    while(len(suspected) > 1):
        Q_features = extract_features(questioned_vector, words, start, end)
        similarityWithQ = {}
        for author, reference_vector in reference_vectors.items():
            if author in suspected: #
                feature_vector = extract_features(reference_vector, words, start, end)
                score = get_similarity(feature_vector,Q_features)
                similarityWithQ[author]=score

        # innocent_list に含まれない著者の中から1人を選ぶ

        innocent = min(similarityWithQ, key=similarityWithQ.get)
        #print(innocent)
        # print(type(innocent))
        # print(f'{min(similarityWithQ, key=similarityWithQ.get)} may be innocent.')
        suspected.remove(innocent)
        # similarityWithQ[innocent] = INF

        end += 20
    return suspected[0]

In [311]:
# suspected = [author for author in authors]
# suspected.remove('andy.zipper@enron.com')
# suspected

## Check function in Train Data

In [ ]:
i = 0
bad_guy = predict(df['keyness'][i], reference_vectors)
print(f'bad guy : {bad_guy}')
print('-'*20)
print(f"True author : {df['author'][i]}")

hunter.shively@enron.com
j..kean@enron.com
chris.stokley@enron.com
andy.zipper@enron.com
v.weldon@enron.com
bad guy : ben.jacoby@enron.com
--------------------
True author : chris.stokley@enron.com

# Check function in Test Data

In [ ]:
X_keyness_test

516     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2246    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
271     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1874    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
96      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                              ...
1285    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1675    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1217    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
631     [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1048    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: keyness, Length: 531, dtype: object

In [ ]:
all_test_data = len(X_keyness_test)

In [ ]:
match_cnt = 0
all_test_data = len(X_keyness_train)
for i in X_keyness_train.index:
    bad_guy = predict(df['keyness'][i], reference_vectors)
    if df['author'][i] == bad_guy:
        match_cnt = match_cnt + 1

print(f'Math rate is: {match_cnt/all_test_data*100} % ')
    #print(f'bad guy : {bad_guy}')
    #print('-'*20)
    #print(f"True author : {df['author'][i]}")

Math rate is: 51.67216203485634 %

In [ ]:
# def predict(questioned_vector, reference_vectors):
#     suspected = [author for author in authors]

#     comparedSize = 20
#     while(len(suspected) > 1):

# 没キーワード頻度取得関数等

In [199]:
# def dispAndMakeSharedKeywordFreq(df,df_ref):
#     df = df[df['words'].isin(df_ref['words'])] #filtering with the words in df2
#     df_ref = df_ref[df_ref['words'].isin(df['words'])] #filtering with the words in df
#     #now the words in df and df2 are same
#     #sort words in the alphabetical order to become the same words as the same rows
#     df = df.sort_values('words')
#     df_ref = df_ref.sort_values('words')
#     #merge df2 frequency to df1 
#     df['ref_frequency'] = list(df_ref['frequency'])
#     df['shared_word_keyword_frequency'] = (df['frequency'] + df['ref_frequency'])
#     return df
## Keyword Frequency in Dataset Q and Ref
#KF = Keyword Frequency
# KF_QandRef = dispAndMakeSharedKeywordFreq(wf_list_Q,wf_list_ref)
# KF_QandRef.sort_values('frequency', ascending=False).head(20)
# ## Keyword Frequency in Dataset K1 and Ref
# #KF = Shared Keyword Frequency
# KF_QandRef = dispAndMakeSharedKeywordFreq(wf_list_K1,wf_list_ref)
# KF_QandRef.sort_values('frequency', ascending=False).head(20)
# ## Keyword Frequency in Dataset K2 and Ref
# #KF = Shared Keyword Frequency
# KF_QandRef = dispAndMakeSharedKeywordFreq(wf_list_K2,wf_list_ref)
# KF_QandRef.sort_values('frequency', ascending=False).head(20)

        words  frequency  ref_frequency  shared_word_keyword_frequency
0         the        383            154                            537
1          of        161             65                            226
2          to        128             55                            183
3         and        121             40                            161
4          in        119             40                            159
5          is         91             12                            103
8        with         56              6                             62
9         for         55             22                             77
11         at         50              9                             59
15        are         37              5                             42
17         as         36             13                             49
19         up         29              2                             31
23         on         26             10                             36
22         by         26             10                             36
25         an         24              6                             30
27  operating         22              1                             23
26        100         22              1                             23
33         be         19             21                             40
35      after         17              4                             21
37      which         17             13                             30

In [ ]:
# import nltk
# from nltk.corpus import stopwords

# nltk.download('stopwords')
# stop_words = stopwords.words('english')

In [ ]:
# #確認用
# i = 22
# msg = df['body'][i]
# max_value = max(keyness_mat[i])
# max_idx = keyness_mat[i].index(max_value)
# print(words[max_idx])

# print(msg)
# #print(df['author'][i])

In [ ]:
# from sklearn.model_selection import train_test_split
# X_keyness_train, X_keyness_test, Y_keyness_train, Y_keyness_test = train_test_split(df['keyness'],df['author'],test_size=0.2,shuffle=True)
# X_tf_train, X_tf_test, Y_tf_train, Y_tf_test = train_test_split(df['tf'],df['author'],test_size=0.2,shuffle=True)

In [ ]:
# # How many author?
# authors = set(Y_keyness_test)
# authors_list = [author for author in authors]

# Create Reference_vectors
size: 著者の数

Train データから作る

In [ ]:
# # df_X = pd.DataFrame(X_tf_train.values.tolist())
# # df_Y = pd.DataFrame(Y_tf_train.values.tolist())


# df_train = pd.concat((X_keyness_train, Y_keyness_train.rename('author')), axis=1)
# #
# reference_vectors = {}
# for author in authors:

#     df_author = df_train.groupby('author').get_group(author)

#     matrix = []
#     for row in df_author['keyness']:
#         matrix.append(row)

#     np_matrix = np.array(matrix)

#     mean_vector = np_matrix.mean(axis=0)
#     reference_vectors[author] = mean_vector.tolist()

In [ ]:
# for author, ref_vec in reference_vectors.items():
#     max_value = max(ref_vec)
#     max_idx =ref_vec.index(max_value)
#     print(f'{author}: {words[max_idx]}')

hunter.shively@enron.com: hunter
j..kean@enron.com: attached
chris.stokley@enron.com: chris
v.weldon@enron.com: charlie
ben.jacoby@enron.com: ben
andy.zipper@enron.com: andy

In [ ]:
# authors

{'andy.zipper@enron.com',
 'ben.jacoby@enron.com',
 'chris.stokley@enron.com',
 'hunter.shively@enron.com',
 'j..kean@enron.com',
 'v.weldon@enron.com'}